<!DOCTYPE html>
<html>
  <head>
    <title>EditorSandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container mx-auto mt-10 px-5 flex justify-between">
      <span class="text-2xl font-semibold">Editor-Sandbox</span>
      <%= link_to "Home", root_path %>
    </header>
    <main class="container mx-auto mt-18 px-5">
      <%= yield %>
    </main>
  </body>
</html>
